body {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 18px;
  letter-spacing: -0.6px;
  word-spacing: 0.8px;
  color: #6619ff;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

#local {
  width: 100%;
  background-color: #1e90ff;
  padding: 15px 0;
  margin: 0;

  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
}

#cities {
  border-collapse: collapse;
  width: 100%;
}

#cities td {
  border: 1px solid #dedede;
  padding: 8px;
}

#cities tr:nth-child(even) {
  background-color: #f2f2f2;
}

.col1 {
  width: 10%;
}

.col2 {
  width: 45%;
}
